<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
		<v-app id="inspire">
			<v-content>
				<v-container fluid fill-height>
					<v-layout align-center justify-center>
						<v-flex xs12 sm8 md4>
							<v-card class="elevation-12">
								<v-toolbar dark color="primary">
									<v-toolbar-title>To-do List Lite</v-toolbar-title>
									<v-spacer></v-spacer>
									<v-tooltip bottom>
										<v-btn
											icon
											large
											slot="activator"
										>
											<v-icon large>sync</v-icon>
										</v-btn>
										<span>Sync</span>
									</v-tooltip>
								</v-toolbar>
								<v-card-text>
									<v-text-field prepend-icon="edit" name="New Task" label="Anything in mind?" type="text" v-model="newTask.title" v-on:keyup.enter="submit"></v-text-field>
								</v-card-text>
								<v-list>
									<v-subheader>Things on your list</v-subheader>
									<transition-group name="task-list" tag="div"  class="task-list">
										<div v-for="(task, index) in tasks" v-bind:key="`${task.title}`" class="task-list-item">
											<v-list-tile avatar ripple @click="">
												<v-list-tile-action>
													<v-icon color="primary" v-if="!task.isCompleted" v-on:click="toggleCompletion(index)">check_box_outline_blank</v-icon>
													<v-icon color="primary" v-else  v-on:click="toggleCompletion(index)">check_box</v-icon>
												</v-list-tile-action>
												<v-list-tile-content>
													<v-list-tile-title>{{ task.title }}</v-list-tile-title>
													<!-- <v-list-tile-sub-title class="text--primary">{{ task.description }}</v-list-tile-sub-title> -->
													<v-list-tile-sub-title>Created at: {{ task.createdAt }}</v-list-tile-sub-title>
												</v-list-tile-content>
												<v-list-tile-action>
													<v-list-tile-action-text></v-list-tile-action-text>
													<v-icon color="grey lighten-1" v-on:click="remove(index)">delete</v-icon>
												</v-list-tile-action>
											</v-list-tile>
											<v-divider v-if="index + 1 < tasks.length" :key="`divider-${index}`"></v-divider>
										</div>
									</transition-group>
								</v-list>
								<v-card-actions>
									<v-spacer></v-spacer>
									<!-- <v-btn color="primary">Sync</v-btn> -->
								</v-card-actions>
							</v-card>
						</v-flex>
					</v-layout>
				</v-container>
			</v-content>
		</v-app>
	</div>
 
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script>

     var app = new Vue({
      el: '#app',
      data: {
				newTask: {
					title:"",
					isCompleted: false
				},
        tasks:[{
					title: "Feed the cat",
					createdAt: new Date(),
					isCompleted: false,
					id:0
				}, {
					title: "Walk the dog",
					createdAt: new Date(),
					isCompleted: false,
					id:1
				}]
      },
      methods: {
        submit() {
					if (this.newTask.title.trim()){
						this.newTask.title.trim()
						this.newTask.createdAt=new Date()
						this.tasks.push(this.newTask)
						this.newTask= {
							title:""
						}
					}
        },
				remove(index){
					console.log(index)
					this.tasks.splice(index,1)
				},
				toggleCompletion(index){
					console.log(index)
					this.tasks[index].isCompleted=!this.tasks[index].isCompleted
				}
      }
    })
  </script>
</body>
</html>

<style>
	body{
			font-family: 'Roboto', sans-serif;
	}
	
	.task-list-item {
		transition: all .5s;
	}
	
	.task-list-enter, .task-list-leave-to {
		opacity: 0;
		transform: translateX(20px);
	}

	.task-list-leave-active {
		position: absolute;
	}

	.task-list{
		transition: all .5s;
		/* height: 640px */
	}
</style>
<!-- 
TODO:
ID/key with animation -->