<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <div id="app">
    <h1>To-do List Lite</h1>
    <h2>Anything in mind?</h2>
		<input v-model="current" placeholder="Plan something here..." v-on:keyup.enter="submit">
    <h2>Things on your list</h2>
    <ul>
			<transition-group name="list" tag="p">
      <li v-for="task in tasks" v-bind:key="task">
          {{task}}
			</li>
			</transition-group>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
				current: "",
        tasks:["some", "something else"]
      },
      methods: {
        submit() {
					if (this.current.trim()){
						this.tasks.push(this.current.trim())
						this.current=""
					}
          return
        }
      }
    })
  </script>
</body>
</html>

<style>
	body{
			font-family: 'Roboto', sans-serif;
	}
	
	.list-enter-active, .list-leave-active {
		transition: all 1s;
	}
	.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
		opacity: 0;
		transform: translateY(30px);
	}
</style>