<link href="./styles.css" rel="stylesheet">
<div id="app">
  <p>Text Field: 
    <input v-model="textField">
    Data: {{textField}}
  </p>
  <p>Text Area: 
    <textarea v-model="textArea"></textarea>
    Data: {{textArea}}
  </p>
  <p>Single Checkbox: 
    <input type="checkbox" v-model="singleCheckbox">
    Data: {{singleCheckbox}}
  </p>
  <p>Multiple Checkboxes: 
    <input type="checkbox" id="alice" value="Alice" v-model="multipleCheckboxes">
    <label for="alice">Alice</label>
    <input type="checkbox" id="bob" value="Bob" v-model="multipleCheckboxes">
    <label for="bob">Bob</label>
    <input type="checkbox" id="carol" value="Carol" v-model="multipleCheckboxes">
    <label for="carol">Carol</label>
    Data: {{multipleCheckboxes}}
  </p>
  <p>Radio Button: 
    <input type="radio" id="one" value="One" v-model="radioButton">
    <label for="one">One</label>
    <input type="radio" id="two" value="Two" v-model="radioButton">
    <label for="two">Two</label>
    Data: {{radioButton}}
  </p>
  <p>Single Select List: 
    <select v-model="singleList">
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select>
    Data: {{singleList}}
  </p>
  <p>Multiple Select List: 
    <select v-model="multipleList" multiple>
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select>
    Data: {{multipleList}}
  </p>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      textField: '',
      textArea: '',
      singleCheckbox: false,
      multipleCheckboxes: [],
      radioButton:'',
      singleList:'',
      multipleList: []
    }
  })
</script>